Repository tic-oss/generator-jhipster, pull requests merged in 2023-08, with the labels that each got.

#50 added no_auth feature in following subgenerators:-
  .vscode/launch.json
  example/jdl/nooauth.jdl
  generators/react/files-react.mjs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
  generators/react/templates/src/main/webapp/app/index.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/react/templates/src/main/webapp/app/routes.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.spec.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/index.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/index.ts.ejs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/templates/src/main/java/package/web/rest/GatewayResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_imperative.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
  jdl/jhipster/application-options.ts
  jdl/jhipster/authentication-types.ts
  jdl/jhipster/default-application-options.ts
Labels: theme: java, theme: react

#51 bug fix:-microservice with oauth2
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#52 Added mongodb url for go micro
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

#53 bug fix for minikube without domain name
  generators/kubernetes/generator.mjs
Labels: theme: kubernetes

#54 micrometer context-propagation version update
  generators/server/templates/pom.xml.ejs
Labels: theme: java
