Repository tic-oss/generator-jhipster, pull requests merged in 2023-06, with the labels that each got.

#23 updated react-jhipster to "^0.24.0"
  generators/react/templates/package.json
Labels: theme: dependencies, theme: react

#24 deploy eck first to utilise eck nodes before they starve.
  generators/kubernetes/templates/kubectl-apply.sh.ejs
Labels: theme: kubernetes

#25 updated keycloak url in kubectl-apply.sh file
  generators/kubernetes/templates/kubectl-apply.sh.ejs
Labels: theme: kubernetes

#27 Feature/minikube
  generators/app/generator.mjs
  generators/base/generator-base-todo.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak-postgresql.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  generators/kubernetes/templates/service.yml.ejs
Labels: theme: kubernetes, theme: jhipster-internals

#28 corrected minikube spelling
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak-postgresql.yml.ejs
Labels: theme: kubernetes

#30 updated kubectl-apply.sh with respect to minikube and added redirect …
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
Labels: theme: kubernetes

#31 updated envs for go micro
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

#33 removed the postgresql dependency
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes
