Repository tic-oss/generator-jhipster, pull requests merged in 2023-04, with the labels that each got.

#6 Removed cert manager dependency
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
Labels: theme: kubernetes

#10 fixed dry run issues
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/storage-class.yml.ejs
  package.json
Labels: theme: kubernetes, theme: dependencies

#9 Added Support for Elastic Cloud with logging configurations in services
  generators/base/generator-base-todo.mjs
  generators/kubernetes/files.mjs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/eck/filebeat.yml.ejs
  generators/server/prompts.mjs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  jdl/jhipster/application-options.ts
  jdl/jhipster/default-application-options.ts
  jdl/jhipster/index.mts
  jdl/jhipster/log-management-types.ts
  jdl/parsing/lexer/application-tokens.ts
  jdl/parsing/validator.ts
  jdl/validators/application-validator.ts
  package-lock.json
  package.json
Labels: theme: kubernetes, theme: jhipster-internals, theme: java, theme: dependencies

#15 Reminder rebase
  generators/base/generator-base-todo.mjs
  generators/client/files-common.mjs
  generators/client/generator.mjs
  generators/client/prompts.mjs
  generators/client/templates/src/main/webapp/content/images/TIC.png
  generators/languages/translation-data.mjs
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/react/files-react.mjs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/menu.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/reducers.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/index.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder-delete-dialog.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder-detail.scss.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder-detail.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder-reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder-update.scss.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder-update.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/reminder/reminder.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/routes.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.scss.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/menu-components.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/menu-item.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/model/reminder.model.ts.ejs
  generators/react/templates/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/server/files.mjs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/domain/Reminder.java.ejs
  generators/server/templates/src/main/java/package/domain/ReminderCallback.java.ejs
  generators/server/templates/src/main/java/package/repository/ReminderRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/ReminderRepositoryInternalImpl.java.ejs
  generators/server/templates/src/main/java/package/repository/ReminderSqlHelper.java.ejs
  generators/server/templates/src/main/java/package/repository/rowmapper/ColumnConverter.java.ejs
  generators/server/templates/src/main/java/package/repository/rowmapper/ReminderRowMapper.java.ejs
  generators/server/templates/src/main/java/package/service/EventService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/EventController.java.ejs
  generators/server/templates/src/main/java/package/web/rest/ReminderResource.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/20230228095256_added_entity_Reminder.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/fake-data/reminder.csv.ejs
  generators/server/templates/src/test/java/package/web/rest/ReminderResourceIT.java.ejs
  generators/sql/files.mjs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
  jdl/jhipster/application-options.ts
  jdl/jhipster/default-application-options.ts
  jdl/parsing/lexer/application-tokens.ts
  jdl/parsing/validator.ts
Labels: theme: jhipster-internals, theme: java, theme: front, theme: react, theme: vue, theme: i18n
